@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
   width: 280px !important;
   position: relative !important;
   height: auto !important;
   min-height: 200px !important;
   max-width: 100% !important;
   object-fit: cover;
}

.unset-img > span {
   position: unset !important;
}

.custom-img-2{
   width: 320px !important;
   position: relative !important;
   height: auto !important;
   min-height: 200px !important;
   max-width: 100% !important;
   object-fit: cover;
}
@media(min-width: 1280px){
   .custom-img {
      width: 200px !important;
      position: relative !important;
      height: auto !important;
      min-height: 200px !important;
      max-width: 200px !important;
      object-fit: cover;
   }

   .unset-img > span {
      position: unset !important;
   }

}
